@import url('https://fonts.googleapis.com/css?family=Roboto|Patua+One');

body {
	background-color: #eaeaea;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
	font-size: 16px;
	padding-bottom: 50px;
}

p {
	font-size: 90%;
}

button {
    background-color: #008CBA; /* Green */
	font-family: 'Patua One', cursive;
	border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

button:hover {
    background-color: #6cd7f7; /* Green */
	color: #333;
}

a {
	text-decoration: none;
	color: #008CBA;
}

a:hover {
	text-decoration: none;
	color: #6cd7f7;
}

header {
	font-family: 'Patua One', cursive;
	padding-top: 20px;
	font-size: 600%;
	text-align: center;
}

nav {
	font-family: 'Patua One', cursive;
	text-align: center;
	white-space: nowrap;
}

nav ul {
	display: inline;
}

nav li {
	display: inline-block;
	padding-right: 2rem;
}

.child-inner ul {
	text-align: right;
}

.child-inner li {
	display: inline-block;
	padding-left: 2rem;
}

.container {
	width: 100%;
	display: flex;
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;

}

.author {
	font-size: 80%;
	font-style: italic;
	text-align: right;
}

.page-info {
	font-size: 150%;
}

.child {
	margin: 3rem 1rem 1rem 1rem;
	display: inline-block;
	background-color: white;
	width: 300px;
	border-bottom: 2px solid #e3e3e3;
}

.child-inner {
	padding: 0 1.5rem 1rem 1.5rem;
}

.edit-links, .delete-links {
	font-family: 'Patua One', cursive;
}
